@using PagedList.Mvc
@model PagedList.IPagedList<Product>
@{
    ViewBag.Title = Setting.WebSettings[ShopSettingType.HomepageMetaTitle];
    ViewBag.Description = Setting.WebSettings[ShopSettingType.HomepageMetaDescription];
    ViewBag.Keywords = Setting.WebSettings[ShopSettingType.HomepageMetaKeywords];


    ViewBag.IsHome = "true";

    ViewBag.OgImage = Setting.WebSettings[ShopSettingType.OgImage];

}




<!-- Services-->
<section class="page-section link-decorator" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">
                <span @CMS.Attribute("Section.Certify.Title")>
                    @Setting.Contents["Section.Certify.Title"]
                </span>
            </h2>
            <h3 class="section-subheading text-muted">
                <span @CMS.Attribute("Section.Certify.Description")>
                    @Setting.Contents["Section.Certify.Description"]
                </span>
            </h3>
        </div>
        <div class="row text-center">

            <div class="col-md-4">

                @Html.Partial("_Speedometer")

                <h4 class="my-3">
                    <span @CMS.Attribute("Section.Certify4.Header")>
                        @Setting.Contents["Section.Certify4.Header"]
                    </span>
                </h4>
                <p class="text-muted">
                    <span @CMS.Attribute("Section.Certify4.Description1")>
                        @Setting.Contents["Section.Certify4.Description1"]
                    </span>
                    <a @CMS.Attribute("Section.Certify4.Description2.Href", 
                           "Section.Certify4.Description2.Text") 
                        href="@Setting.Contents["Section.Certify4.Description2.Href"]" 
                        target="_blank" data-toggle="tooltip" title="Tell me more!">
                        @Setting.Contents["Section.Certify4.Description2.Text"]
                        
                    </a>
                    <span @CMS.Attribute("Section.Certify4.Description3")>
                        @Setting.Contents["Section.Certify4.Description3"]
                    </span>
                </p>
                
                <a @CMS.Attribute("Section.Certify4.Button.Href", "Section.Certify4.Button.Text")
                    href="@Setting.Contents["Section.Certify4.Button.Href"]"
                    class="btn btn-primary"
                    target="_blank">
                    @Setting.Contents["Section.Certify4.Button.Text"]
                </a>

            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-yellowgreen"></i>
                    <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">
                    <span @CMS.Attribute("Section.Certify5.Header")>
                        @Setting.Contents["Section.Certify5.Header"]
                    </span>
                </h4>
                <p class="text-muted">
                    <span @CMS.Attribute("Section.Certify5.Description1")>
                        @Setting.Contents["Section.Certify5.Description1"]
                    </span>
                    <a @CMS.Attribute("Section.Certify5.Description2.Href", 
                           "Section.Certify5.Description2.Text")
                        href="@Setting.Contents["Section.Certify5.Description2.Href"]" 
                        data-toggle="tooltip" title="Tell me more!">
                        @Setting.Contents["Section.Certify5.Description2.Text"]
                    </a>
                    <span @CMS.Attribute("Section.Certify5.Description3")>
                        @Setting.Contents["Section.Certify5.Description3"]
                    </span>
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-yellowgreen"></i>
                    <i class="fa fa-coffee fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">
                    <span @CMS.Attribute("Section.Certify6.Header")>
                        @Setting.Contents["Section.Certify6.Header"]
                    </span>
                </h4>
                <p class="text-muted">
                    <span @CMS.Attribute("Section.Certify6.Description1")>
                        @Setting.Contents["Section.Certify6.Description1"]
                    </span>
                    <a @CMS.Attribute("Section.Certify6.Description2.Href",
                           "Section.Certify6.Description2.Text")
                       href="@Setting.Contents["Section.Certify6.Description2.Href"]"
                       data-toggle="tooltip" title="Tell me more!"
                       target="_top">
                        @Setting.Contents["Section.Certify6.Description2.Text"]
                    </a>
                    <span @CMS.Attribute("Section.Certify6.Description3")>
                        @Setting.Contents["Section.Certify6.Description3"]
                    </span>
                </p>
                <a @CMS.Attribute("Section.Certify6.Button.Href", "Section.Certify6.Button.Text")
                   href="@Setting.Contents["Section.Certify6.Button.Href"]"
                   class="btn btn-primary"
                   target="_top">
                    @Setting.Contents["Section.Certify6.Button.Text"]
                </a>

            </div>
        </div>
    </div>
</section>





<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">
                <span @CMS.Attribute("Section.Portfolio.Header")>
                    @Setting.Contents["Section.Portfolio.Header"]
                </span>
            </h2>
            <h3 class="section-subheading text-muted">
                <span @CMS.Attribute("Section.Portfolio.Brief")>
                    @Setting.Contents["Section.Portfolio.Brief"]
                </span>
            </h3>
        </div>
        <div class="row">
            
            @{
                Html.RenderAction("ProductSystem", "Product");
            }


        </div>
    </div>
</section>



@Html.Partial("_AboutUs")



<!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">
                <span @CMS.Attribute("Section.Team.Header")>
                    @Setting.Contents["Section.Team.Header"]
                </span>
            </h2>
            <h3 class="section-subheading text-muted">
                <span @CMS.Attribute("Section.Team.Brief")>
                    @Setting.Contents["Section.Team.Brief"]
                </span>
            </h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">

                    @*<img @CMS.Attribute("Section.Team.Item1.Image")
                        src="@Setting.Contents["Section.Team.Item1.Image"]" 
                        class="mx-auto rounded-circle" alt="size-200x200"/>*@
                    
                    <video width="224" height="224"
                           class="mx-auto rounded-circle"
                           style="border: .5rem solid rgba(0,0,0,.1);"
                           autoplay="autoplay" loop muted playsinline>
                        <source src="~/Themes/leki/Assets/video/easy-image-management.webm" type="video/webm" />
                        Your browser does not support the video element.
                    </video>

                    <h4>
                        <span @CMS.Attribute("Section.Team.Item1.Header")>
                            @Setting.Contents["Section.Team.Item1.Header"]
                        </span>
                    </h4>
                    <p class="text-muted">
                        <span @CMS.Attribute("Section.Team.Item1.Brief")>
                            @Setting.Contents["Section.Team.Item1.Brief"]
                        </span>
                    </p>
                    <a @CMS.Attribute("Section.Team.Item1.Link.Href",
                           "Section.Team.Item1.Link.Text")
                        href="@Setting.Contents["Section.Team.Item1.Link.Href"]" class="btn btn-primary">
                        @Setting.Contents["Section.Team.Item1.Link.Text"]
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img @CMS.Attribute("Section.Team.Item2.Image")
                         src="@Setting.Contents["Section.Team.Item2.Image"]"
                         class="mx-auto rounded-circle" alt="size-200x200" />
                    <h4>
                        <span @CMS.Attribute("Section.Team.Item2.Header")>
                            @Setting.Contents["Section.Team.Item2.Header"]
                        </span>
                    </h4>
                    <p class="text-muted">
                        <span @CMS.Attribute("Section.Team.Item2.Brief")>
                            @Setting.Contents["Section.Team.Item2.Brief"]
                        </span>
                    </p>
                    <a @CMS.Attribute("Section.Team.Item2.Link.Href", "Section.Team.Item2.Link.Text")
                       href="@Setting.Contents["Section.Team.Item2.Link.Href"]" class="btn btn-primary">
                        @Setting.Contents["Section.Team.Item2.Link.Text"]
                    </a>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img @CMS.Attribute("Section.Team.Item3.Image")
                         src="@Setting.Contents["Section.Team.Item3.Image"]"
                         class="mx-auto rounded-circle" alt="size-200x200" />
                    <h4>
                        <span @CMS.Attribute("Section.Team.Item3.Header")>
                            @Setting.Contents["Section.Team.Item3.Header"]
                        </span>
                    </h4>
                    <p class="text-muted">
                        <span @CMS.Attribute("Section.Team.Item3.Brief")>
                            @Setting.Contents["Section.Team.Item3.Brief"]
                        </span>
                    </p>
                    <a @CMS.Attribute("Section.Team.Item3.Link.Href", "Section.Team.Item3.Link.Text")
                       href="@Setting.Contents["Section.Team.Item3.Link.Href"]" class="btn btn-primary">
                        @Setting.Contents["Section.Team.Item3.Link.Text"]
                    </a>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">
                    <span @CMS.Attribute("Section.Team.Description")>
                        @Setting.Contents["Section.Team.Description"]
                    </span>
                </p>
                
                <a @CMS.Attribute("Section.Team.Link.Href", "Section.Team.Link.Text")
                    href="@Setting.Contents["Section.Team.Link.Href"]" class="btn btn-success btn-lg" target="_blank">
                    @Setting.Contents["Section.Team.Link.Text"]
                </a>
            </div>
        </div>
    </div>
</section>
