@model ExtraSiteMap


    
    @using (Html.BeginForm("Edit", "ExtraSiteMaps", FormMethod.Post, new {id = "formSubmit" }))
    {
    <div class="card">
        <div class="card-header">

            @if (Model.Name == null)
            {
                        
                <span class="h3">@AdminResources.CommonExtraSitemap / @AdminResources.CommonCreateHeader</span>
            }
            else
            {
                <span class="h3">@AdminResources.CommonExtraSitemap / @AdminResources.CommonEdit / @Model.Name</span>
            }
    
            <span class="float-right">
                <input type="submit" value="@AdminResources.CommonSave" class="btn btn-primary btn-sm" />
            </span>
            <span class="float-right" style="margin-right: 5px;">                    
                @Html.ActionLink(AdminResources.CommonCancel, "Index", null, new { @class = "btn btn-outline-secondary btn-sm" })
            </span>
        </div>
    
        @Html.AntiForgeryToken()
        
        <div class="card-body">
            <!--<h4>ExtraSiteMap</h4>-->
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.LastMod)
    
            <!-- edit ==============================================================================-->        
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "Id"                    
                    && property.PropertyName != "LastMod"
                    && property.PropertyName != "ChangeFreq"
                    )
                {
                    <div class="form-group">
                        <label>
                            @(property.DisplayName ?? property.PropertyName)
                        </label>
                        @if (property.PropertyName == "Description" || property.PropertyName == "Content")
                        {
                            @Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 5 })
                        }
                        else
                        {
                            @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        }
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }
    
        

            <div class="form-group">
                @Html.LabelFor(model => model.ChangeFreq)
                @Html.EnumDropDownListFor(x => x.ChangeFreq, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ChangeFreq, "", new { @class = "text-danger" })
            </div>
            
        </div>
    
    	<div class="card-footer">
            <input type="submit" value="@AdminResources.CommonSave" class="btn btn-primary" />
            @Html.ActionLink(AdminResources.CommonCancel, "Index", null, new { @class = "btn btn-outline-secondary" })
        </div>
    </div>
    }
    
