

<div class="row sectionCertificate text-center mt-4 mb-5">
    <div class="col-4">

        <img @CMS.Attribute("Section.Certify1.Image")
            alt="png-size-100x100"
            src="@Setting.Contents["Section.Certify1.Image"]" />

        <h5 class="text-danger">
            <span @CMS.Attribute("Section.Certify1.Header")>
                @Setting.Contents["Section.Certify1.Header"]
            </span>
        </h5>
        <span @CMS.Attribute("Section.Certify1.Description")>
            @Setting.Contents["Section.Certify1.Description"]
        </span>
    </div>

    <div class="col-4">
        
        <img @CMS.Attribute("Section.Certify2.Image")
            alt="png-size-100x100"
            src="@Setting.Contents["Section.Certify2.Image"]" />

        <h5 class="text-danger">
            <span @CMS.Attribute("Section.Certify2.Header")>
                @Setting.Contents["Section.Certify2.Header"]
            </span>
        </h5>
        <span @CMS.Attribute("Section.Certify2.Description")>
            @Setting.Contents["Section.Certify2.Description"]
        </span>

        
    </div>
    <div class="col-4">
        
        <img @CMS.Attribute("Section.Certify3.Image")
            alt="png-size-100x100"
            src="@Setting.Contents["Section.Certify3.Image"]" />

        <h5 class="text-danger">
            <span @CMS.Attribute("Section.Certify3.Header")>
                @Setting.Contents["Section.Certify3.Header"]
            </span>
        </h5>
        <span @CMS.Attribute("Section.Certify3.Description")>
            @Setting.Contents["Section.Certify3.Description"]
        </span>

    </div>
</div>