
<div class="row sectionFeature">
    <div class="col-lg-4 feature-left">
        <div class="feature-title">
            <span @CMS.Attribute("Section.Section.Specify1")>
                @Setting.Contents["Section.Section.Specify1"]
            </span>
        </div>
        <div class="feature-title">
            <span @CMS.Attribute("Section.Section.Specify2")>
                @Setting.Contents["Section.Section.Specify2"]
            </span>
        </div>
        <div class="feature-title mb-5">
            <span @CMS.Attribute("Section.Section.Specify3")>
                @Setting.Contents["Section.Section.Specify3"]
            </span>
        </div>
    </div>
    <div class="col-lg-4">
        <img @CMS.Attribute("Section.Specify.Image")
            class="img-responsive" alt="size-800x600"
            src="@Setting.Contents["Section.Specify.Image"]" />
    </div>
    <div class="col-lg-4 feature-right text-right align-self-end">
        <div class="">
            <div class="feature-title">
                <span @CMS.Attribute("Section.Section.Specify4")>
                    @Setting.Contents["Section.Section.Specify4"]
                </span>
            </div>
            <div class="feature-title">
                <span @CMS.Attribute("Section.Section.Specify5")>
                    @Setting.Contents["Section.Section.Specify5"]
                </span>
            </div>
            <div class="feature-title">
                <span @CMS.Attribute("Section.Section.Specify6")>
                    @Setting.Contents["Section.Section.Specify6"]
                </span>
            </div>
        </div>

    </div>
</div>
