
@model IEnumerable<Category>

<div class="footerMenu ml-4 @Setting.WebSettings[ShopSettingType.MenuFormatClass]">
    
    <div>
        <ul>

            <li>
                <a href="/" target="_top">
                    <i class="fa fa-circle" aria-hidden="true">&nbsp;</i>
                    <span @CMS.Attribute("Label.Home")>
                        @Setting.Contents["Label.Home"]
                    </span>
                </a>
            </li>
            @foreach (var item in Model)
            {
                <li>
                    <a target="_top" href="@(item.Href != "#" ? item.Href : Url.Action("ListBy", "Product", new {slug = item.Slug}))">
                        <i class="fa fa-circle" aria-hidden="true">&nbsp;</i>@item.Name
                    </a>
                </li>
            }


        </ul>
    </div>
</div>