
@{
    var theme = Setting.WebSettings[WebSettingType.CurrentTheme];
    Layout = "~/Themes/" + theme + "/Views/Shared/_LayoutArticle.cshtml";

    ViewBag.Title = "Server Error";
}

<div class="statusCode container-light">
    <div class="statusCode-header">
        <h1>500</h1>
    </div>
    <h2>
        <span @CMS.Attribute("Page.Error.ServerError.Header")>
            @Setting.Contents["Page.Error.ServerError.Header"]
        </span>
    </h2>
    <p>
        <span @CMS.Attribute("Page.Error.ServerError.Description")>
            @Setting.Contents["Page.Error.ServerError.Description"]
        </span>
    </p>
    <a href="/" target="_top">
        <span @CMS.Attribute("Page.Error.GoHome")>
            @Setting.Contents["Page.Error.GoHome"]
        </span>
    </a>
</div>
