@model cms4seo.Data.IdentityModels.ApplicationUser

@{
    ViewBag.Title = AdminResources.CommonDelete;
}

<h2>@(AdminResources.CommonDelete).</h2>

<h3>
    @AdminResources.Delete_cshtmlExecute_Are_you_sure_you_want_to_delete_this_User_
</h3>
<div>
    <h4>@(AdminResources.CommonUser).</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-secondary"/> |
            @Html.ActionLink(AdminResources.CommonBackToList, "Index")
        </div>
    }
</div>