@model string
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-header">
            
            <span class="h3">@AdminResources.CommonArticleTag / @AdminResources.CommonEdit / @Model</span>
            
            <span class="float-right">
                <input type="submit" value="@AdminResources.CommonSave" class="btn btn-primary btn-sm" />
            </span>
            <span class="float-right" style="margin-right: 5px;">
                @Html.ActionLink(AdminResources.CommonCancel, "Index", null, new {@class = "btn btn-outline-secondary btn-sm" })
            </span>
        </div>

        <div class="card-body">
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            @Html.Hidden("tag", Model)


            <div class="form-group">
                <label for="newTag" class="control-label">Name</label>
                @Html.TextBox("newTag", Model, new {@class = "form-control"})
            </div>
        </div>


        <div class="card-footer">
            <input type="submit" value="@AdminResources.CommonSave" class="btn btn-primary"/>
            @Html.ActionLink(AdminResources.CommonCancel, "Index", null, new {@class = "btn btn-outline-secondary" })
        </div>

    </div>
}