@model dynamic

@{
    ViewBag.Title = AdminResources.Index_cshtmlExecute_Config_Index;
}

<h2>@AdminResources.Index_cshtmlExecute_List_of_basic_config</h2>

<div class="mt-3">

    <a class="btn btn-info" href="@Url.Action("EmailSettings", "Config")">
        @AdminResources.Index_cshtmlExecute_Email_Setting
    </a>
    <br/>
    <br/>
    
    <a class="btn btn-info" href="@Url.Action("WebSettings", "Config")">
        @AdminResources.Index_cshtmlExecute_Admin_Setting
    </a>
    <br />
    <br />
    
    <a class="btn btn-info" href="@Url.Action("EmbedSettings", "Config")">
        @AdminResources.Index_cshtmlExecute_Embed_Setting
    </a>
    <br />
    <br />
    
    <a class="btn btn-info" href="@Url.Action("PhotoSettings", "Config")">
        @AdminResources.Index_cshtmlExecute_Photo_Setting
    </a>
    <br />
    <br />
    
    <a class="btn btn-info" href="@Url.Action("ShopSettings", "Config")">
        @AdminResources.Index_cshtmlExecute_Shop_Setting
    </a>
    <br />
    <br />
    
    <a class="btn btn-warning" href="@Url.Action("RefreshTheme", "Config")">
        RefreshTheme
    </a>
    <br />
    <br />
    
    @if (User.IsInRole("Medium.Contents"))
    {
        <a class="btn btn-danger" href="@Url.Action("RestartWebsite", "Config", new {reason = "basic setup change"})">
            @AdminResources.CommonHeaderRestart
        </a>
        <br />
        <br />
    }

</div>



