
<style>
    .region-download .download-block {
        margin-bottom: 30px;
    }

    @@mdedia(min-width > 992px) {
        .region-download .download-block {
            margin-bottom: initial;
        }
    }
</style>


<div class="row region-download">
    <div class="col-lg-6">
        <div class="text-center download-block">
            <a @CMS.Attribute("Download.ButtonBasic.Href")
                href="@Setting.Contents["Download.ButtonBasic.Href"]"
                class="btn btn-success btn-lg">
                <div class="row">
                    <div class="col-2 pt-2">
                        <i class="fas fa-download fa-2x"></i>
                    </div>
                    <div class="col-10 pl-3">
                        <div>
                            <span @CMS.Attribute("Download.ButtonBasic.Label1")>
                                @Setting.Contents["Download.ButtonBasic.Label1"]
                            </span>
                        </div>
                        <div>
                            <span @CMS.Attribute("Download.ButtonBasic.Label2")>
                                @Setting.Contents["Download.ButtonBasic.Label2"]
                            </span>
                        </div>
                    </div>
                </div>
        
        
            </a>
            <div>
                <i>Downloaded: @Setting.WebSettings["Statistic.DownloadBasic"]</i>
            </div>    
        </div>

    </div>
    <div class="col-lg-6 download-block">
        <div class="text-center">
            <a @CMS.Attribute("Download.ButtonThemes.Href")
                href="@Setting.Contents["Download.ButtonThemes.Href"]"
                class="btn btn-warning btn-lg">
                <div class="row">
                    <div class="col-2 pt-2">
                        <i class="fas fa-download fa-2x"></i>
                    </div>
                    <div class="col-10 pl-3">
                        <div>
                            <span @CMS.Attribute("Download.ButtonThemes.Label1")>
                                @Setting.Contents["Download.ButtonThemes.Label1"]
                            </span>
                        </div>
                        <div>
                            <span @CMS.Attribute("Download.ButtonThemes.Label2")>
                                @Setting.Contents["Download.ButtonThemes.Label2"]
                            </span>
                        </div>
                    </div>
                </div>
        
        
            </a>
            <div>
                <i>Downloaded: @Setting.WebSettings["Statistic.DownloadThemes"]</i>
            </div>    
        </div>
    </div>
</div>



