@{
    var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}

<!DOCTYPE html>
<html lang="@CultureHelper.GetCurrentNeutralCulture()">
<head>


    @Html.Partial("_TagManager")

    @Html.Raw(Setting.WebSettings[EmbedSettingType.GoogleAnalytics])

</head>

<body id="page-top" class="@(Setting.WebSettings[ShopSettingType.IsDisallowCopy].AsBool() ? "noselect" : "")">

    @if (ViewBag.IsFacebookComment == "1")
    {
        @Html.Raw(Setting.WebSettings[EmbedSettingType.FacebookScript])
    }


    @Html.Partial("_UnderConstruction")



    @{
        Html.RenderAction("HeaderMenu", "Nav");
    }

    @if (ViewBag.ThemeImage != null)
    {
        @Html.Partial("_HeaderTheme")
    }
    else
    {
        @Html.Partial("_Masthead")
    }


    @if (!(controller == "Articles" || controller == "Topics"))
    {
        <div class="container d-md-none">
            @Html.Partial("_FormSearch")
        </div>
    }
    else
    {
        <div class="container d-md-none">
            @Html.Partial("_ArticleFormSearch")
        </div>
    }

    @if (ViewBag.IsHome == "true")
    {
        @RenderBody()
    }
    else
    {

        <div class="container mt-4">

            @if (ViewBag.PageHeader != null)
            {
                <div class="row">
                    <div class="col-lg-9">

                        <h1 class="text-center" style="color: tomato">@ViewBag.PageHeader</h1>

                    </div>
                    <div class="col-lg-3">

                        @if (controller == "Articles" || controller == "Topics" || controller == "ArticleTags")
                        {
                            <div class="d-none d-md-block">
                                @Html.Partial("_ArticleFormSearch")
                            </div>

                        }
                        else
                        {
                            <div class="asideSearch d-none d-md-block">
                                @Html.Partial("_FormSearch")
                            </div>
                        }


                    </div>

                </div>

            }





            @if (controller == "Articles" || controller == "Topics" || controller == "ArticleTags")
            {

                <div class="row">

                    <!-- order-lg-2 order-md-2 style -->
                    <div class="col-lg-9 col-md-8  mt-2">
                        @RenderBody()
                    </div>


                    <!-- order-lg-1 order-md-1 style -->
                    <div class="col-lg-3 col-md-4 mt-when-xs">
                        @{
                            Html.RenderAction("AllTag", "ProductTags");


                            //Html.RenderAction("AsideMenuTopLevel", "Nav", new { id = 0 });


                            Html.RenderAction("AsideTopView", "Articles");


                            Html.RenderAction("AsideAllTopic", "Topics");
                        }
                    </div>

                </div>

                            }
                            else
                            {
                                @*<hr class="mb-4" />*@
                                <div class="pt-3">
                                    @RenderBody()
                                </div>

                            }


        </div>
                            }


    @Html.Partial("_SectionBrandSlick")

    @Html.Partial("_Footer")

    @Html.Partial("_FooterPowerBy")



    @if (!string.IsNullOrWhiteSpace(Setting.WebSettings[ShopSettingType.MobileContact]))
    {
        @Html.Partial(Setting.WebSettings[ShopSettingType.MobileContact])
    }

    <script>
        window.Js_ThankForYourMessage = "@Setting.Contents["Emails.Js.ThankForYourMessage"]";
        window.Js_ServerBusyPleaseTryLater = "@Setting.Contents["Emails.Js.ServerBusyPleaseTryLater"]";
    </script>


    @Scripts.Render("~/Scripts/js")
    @RenderSection("scripts", false)

    @Html.Partial("_Scripts")




    @{
        Html.RenderAction("CmsSwitcher", "Home");
    }

</body>
</html>