
<header class="masthead"
        style="background-image: url(@Setting.Contents["Section.Index.Banner.Mobile.Image"]);">
    <img @CMS.Attribute("Section.Index.Banner.Mobile.Image") />
    <div class="container">
        <div @CMS.Attribute("Section.Index.Banner.Line1") class="masthead-subheading">
            @Setting.Contents["Section.Index.Banner.Line1"]
        </div>
        <div @CMS.Attribute("Section.Index.Banner.Line2")
            class="masthead-heading text-uppercase">
            @Setting.Contents["Section.Index.Banner.Line2"]
        </div>

        <!-- dynamic mashead button -->
        @if (ViewBag.IsHome == "true")
        {
            <a @CMS.Attribute("Section.Index.Banner.Button")
                class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">
                @Setting.Contents["Section.Index.Banner.Button"]
            </a>
        }
    </div>
</header>