
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="dns-prefetch" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://www.googletagmanager.com">
<link rel="dns-prefetch" href="https://www.googletagmanager.com">

<link rel="preconnect" href="https://www.google-analytics.com">
<link rel="dns-prefetch" href="https://www.google-analytics.com">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- favicon -->
<link rel="shortcut icon" src="@Setting.WebSettings[ShopSettingType.Favicon]" />

<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

@if (ViewBag.Title != null)
{
    <title>@ViewBag.Title</title>
}
@if (ViewBag.Description != null)
{
    <meta name="description" content="@Html.Raw(ViewBag.Description)" />
}
@if (ViewBag.Keywords != null)
{
    <meta name="keywords" content="@ViewBag.Keywords" />
}

@*<meta name="author" content="@Setting.WebSettings[ShopSettingType.MetaAuthor]">*@
<meta name="author" content="@Request.Url.Host">

@* ReSharper disable once PossibleNullReferenceException *@
@if (ViewBag.OgImage != null)
{
    <meta property="og:url" content="@ViewBag.OgUrl" />
    <meta property="og:type" content="@ViewBag.OgType" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:image" content="@(Request.Url.Scheme + Uri.SchemeDelimiter + Request.Url.Host + ViewBag.OgImage)" />
    <meta property="og:image:alt" content="@ViewBag.Title" />
}


@using System.Text.RegularExpressions;
@{
    Uri uri = Request.Url;
    string topLevelDomain = uri.Host.Replace("www.", "");
    string urlWithCanonical = uri.Scheme + Uri.SchemeDelimiter + "www." + topLevelDomain + uri.PathAndQuery;

    string pattern = @"\.(.*[a-z]){5}\.";
    Match match = Regex.Match(uri.Host, pattern, RegexOptions.IgnoreCase);
    if (!match.Success)
    {
        <link href="@urlWithCanonical" rel="canonical" />
    }
}



@if (ViewBag.NoIndex == "1")
{
    <meta name="robots" content="noindex">
}

@Html.Raw(Setting.WebSettings[EmbedSettingType.FacebookId])




<!-- template -->

@*<link rel="preload" href="~/Themes/@Setting.WebSettings[WebSettingType.CurrentTheme]/Assets/fontawesome-5/webfonts/fa-brands-400.woff2" as="font" crossorigin="anonymous">*@
<link rel="preload" href="~/Themes/@Setting.WebSettings[WebSettingType.CurrentTheme]/Assets/fontawesome-5/webfonts/fa-solid-900.woff2" as="font" crossorigin="anonymous">

<!-- Google fonts-->
@*<link rel="preload" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" as="style" crossorigin="anonymous">
<link rel="preload" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" as="style" crossorigin="anonymous">
<link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" as="style" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />*@


@Html.InlineStyles("~/Bootstrap/css")

@Html.InlineStyles("~/Critical/css")


<!-- dynamic mashead height -->
@if (ViewBag.IsHome != "true")
{
    <style>
        @@media (min-width: 768px) {
            header.masthead {
                padding-top: 10.5rem;
                padding-bottom: 6rem;
            }
        }
    </style>
}


@Html.NonCriticalStyle("~/Content/css")


<!-- hc-id ============================-->
@*<script src="~/Scripts/hcid.js"></script>*@


@Html.Raw(Setting.WebSettings[EmbedSettingType.Styles])