<form class="" name="sentMessage" id="contactForm" novalidate>

    <h5 class="">
        <span @CMS.Attribute("Contact.Form.Header")>
            @Setting.Contents["Contact.Form.Header"]
        </span>
    </h5>

        <div class="form-group">
            <input @CMS.Attribute("Contact.Form.Fullname")
                placeholder="@Setting.Contents["Contact.Form.Fullname"]" 
                type="text" class="form-control" id="name" aria-label="Name">
            <p class="help-block text-light"></p>
        </div>

        @*<div class="form-group">
            <input @CMS.Attribute("Contact.Form.Email")
                placeholder="@Setting.Contents["Contact.Form.Email"]" 
             type="email" class="form-control" id="email" aria-label="Email">
        </div>*@

        <div class="form-group">
            <input @CMS.Attribute("Contact.Form.Phonenumber")
                placeholder="@Setting.Contents["Contact.Form.Phonenumber"]" 
                type="tel" class="form-control" id="phone"
                required data-validation-required-message="@Setting.Contents["Contact.Form.Phonenumber"]" aria-label="Phone">
            <p class="help-block text-danger"></p>
        </div>

        <div class="form-group">
            <textarea  @CMS.Attribute("Contact.Form.Message")
                    placeholder="@Setting.Contents["Contact.Form.Message"]" 
                    class="form-control" id="message" aria-label="Message"></textarea>
            <p class="help-block text-danger"></p>
        </div>

        <div class="clearfix"></div>
        <div class="col-lg-12 text-center pb-2">
            <div id="success"></div>
            <button
                type="submit" class="btn btn-xl btn-success rounded-0 font-weight-bold">
                <span @CMS.Attribute("Contact.Form.Submit")>
                    @Setting.Contents["Contact.Form.Submit"]
                </span>
            </button>
        </div>

</form>
